html(lang="vi")
    head
        meta(charset="UTF-8")
        title Trang chủ
        include ./partials/styles
        link(rel="stylesheet" href="/css/home.css")
    body
        include ./partials/header
        h1 Home
        p Đây là đoạn văn mẫu
        include ./partials/footer
    include ./partials/scripts