html(lang="vi")
  head
    meta(charset="UTF-8")
    title Trang chủ
    link(rel="stylesheet" href="/css/main.css")
  body
    include ./partials/header
    h1 Xin chào từ Pug!
    p Đây là đoạn văn mẫu
    include ./partials/footer
    script(src="/js/main.js")